{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('programCss') }}

{% endblock %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>All the Series in the table program: </h1>
    <br>

    

        <section class="thumbSection">
                <div class="topTitles">
                    <div class="prev">&lsaquo;</div>
                    <h2 class="thumbTitle">Popular Now</h2> 
                    <div class="next">&rsaquo;</div>
                </div>

            <div class="thumbTiles swiper-container">
                    
                <!-- Additional required wrapper -->
                
                <div class="swiper-wrapper">
                    <!-- Slides -->                    
                    {% for program in programs %}
                    <div class="swiper-slide">
                        <a class="thumbTile" href="{{ path("program_show", { slug: program.slug }) }}">
                            <div class="img__wrap">
                            <img class="thumbTile__image"
                                src="{{ program.poster }}"
                                alt="{{ program.title }}">
                                <div class="img__description_layer">
                                <p class="img__description">{{ program.title }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    No series found.
                    {% endfor %}
                </div>

            </div>
        </section>

    


    <script>
    {% block javascripts %}
        {{ parent() }}
    {{ encore_entry_script_tags('swiper') }}
    {% endblock %}
    </script>

    <a href="{{ path('app_index') }}">Back to Homepage</a>
{% endblock %}