{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
        {{ encore_entry_link_tags('programShow') }}
{% endblock %}

{% block body %}

<div class="movie_card">
    <div class="info_section">
    
        <div class="movie_header">
            <h1>{{ program.title }}</h1>
            <h4>{{ program.year }} , {{ program.country }}</h4>
            <span class="minutes">117 min</span>
            <p class="type">{{ program.category.name }}</p>
        </div>

        <div class="movie_desc">
            <p class="text">{{ program.synopsis }}</p>
        </div>

        </div>
            <div class="blur_back bright_back" style="background-image: url({{program.background}});"></div>
        </div>
    </div>
</div>
<div class="card">
    <input id="toggle" type="checkbox" checked>
    <label for="toggle">Watch trailer</label>
    <div id="expand">
        <div class="card yt">
            <div class="responsive-iframe">
                <iframe src="{{program.trailer}}" title="{{ program.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="card">
<h4>Go to season</h4>
    <div class="nbSeasons">
        <ul>
        {% for season in seasons %}
            <li><a href=#{{ season.number }}> {{ season.number }} </a></li>
        {% endfor %}
        </ul>
    </div>
</div>



{% for season in seasons %}
<div class="card">
    <h2 id="{{ season.number }}">Season # {{ season.number }} </h2>
    <p>{{ season.description }}</p>
    <a href="{{ path("program_season_show", { slug: program.slug, seasonId: season.id }) }}">See the details</a>
</div>
{% else %}
    No series found in this category.
{% endfor %}


<a href="{{ path('program_index') }}">Back to the TV Shows list</a>



{% endblock %}