<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('headerCss') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('headerJs') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% include 'components/_navbar.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>